In [1]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("Pyspark hive connect example").config("spark.sql.warehouse.dir","hdfs://localhost:54310/user/hive/warehouse").enableHiveSupport().getOrCreate()

In [8]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|       mydb1|
+------------+

In [15]:
spark.sql("create database mydb1")

+------------+
|databaseName|
+------------+
|     default|
|       mydb1|
+------------+

In [16]:
spark.sql("use mydb1")

DataFrame[]

In [18]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [19]:
spark.sql("create table student (id int, name string)")

DataFrame[]

In [20]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|   mydb1|  student|      false|
+--------+---------+-----------+

In [22]:
spark.sql("create table customer(customer_id int, customer_name string, customer_city string, customer_street string, customer_zipcode int ) row format delimited fields terminated by '\t'")

DataFrame[]

In [25]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|   mydb1| customer|      false|
|   mydb1|  student|      false|
+--------+---------+-----------+

In [26]:
spark.sql("desc customer").show()

+----------------+---------+-------+
|        col_name|data_type|comment|
+----------------+---------+-------+
|     customer_id|      int|   null|
|   customer_name|   string|   null|
|   customer_city|   string|   null|
| customer_street|   string|   null|
|customer_zipcode|      int|   null|
+----------------+---------+-------+

In [27]:
spark.sql("create table product(customer_id int, product_category string, product_name string, product_price double,product_quantity int,salestxn_id int) row format delimited fields terminated by '\t'")

DataFrame[]

In [28]:
spark.sql("load data local inpath '/home/hduser/Desktop/customer.tsv' into table customer")

DataFrame[]

In [30]:
spark.sql("select * from customer").show()

+-----------+----------------+-------------+---------------+----------------+
|customer_id|   customer_name|customer_city|customer_street|customer_zipcode|
+-----------+----------------+-------------+---------------+----------------+
|      11039|     Mary Torres|       Caguas|             PR|             725|
|       5623|      Jose Haley|     Columbus|             OH|           43207|
|       5829|      Mary Smith|      Houston|             TX|           77015|
|       6336|  Richard Maddox|       Caguas|             PR|             725|
|       1708|  Margaret Booth|    Arlington|             TX|           76010|
|      10227|  Mary Henderson|       Caguas|             PR|             725|
|        839|     Lisa Walker|       Caguas|             PR|             725|
|       7604|   Jonathan Hill|      Phoenix|             AZ|           85040|
|       6485|Carolyn Sheppard|Pompano Beach|             FL|           33063|
|       4737|    Mary Mendoza|       Caguas|             PR|             725|
|       5973|   Michael Smith|       Caguas|             PR|             725|
|       9205|    James Holmes|     Hilliard|             OH|           43026|
|        138|     Mary Dawson|       Caguas|             PR|             725|
|        371|    Adam Marquez|  San Antonio|             TX|           78223|
|       9285|    Gloria Smith|       Caguas|             PR|             725|
|       1209|       Mary Webb|   San Marcos|             TX|           78666|
|       3021|  Nancy Alvarado|     Flushing|             NY|           11354|
|       3354|  Russell Flores|       Caguas|             PR|             725|
|      11684|    Denise Smith|    Rego Park|             NY|           11374|
|      11144|  Jose Dickerson|         Mesa|             AZ|           85201|
+-----------+----------------+-------------+---------------+----------------+
only showing top 20 rows

In [31]:
spark.sql("load data local inpath '/home/hduser/Desktop/product.tsv' into table product")

DataFrame[]

In [32]:
spark.sql("select * from product").show()

+-----------+--------------------+------------------+-------------+----------------+-----------+
|customer_id|    product_category|      product_name|product_price|product_quantity|salestxn_id|
+-----------+--------------------+------------------+-------------+----------------+-----------+
|      98660|O'Brien Men's Neo...|           Fishing|         45.0|              49|          2|
|      97749|O'Brien Men's Neo...|           Fishing|         45.0|              49|          2|
|     103889|Under Armour Wome...|      Boxing & MMA|         12.0|              31|          4|
|      22751|O'Brien Men's Neo...|           Fishing|         45.0|              49|          5|
|     129001|Pelican Sunstream...|           Boating|         47.0|             199|          1|
|     165110|Nike Men's CJ Eli...|            Cleats|         17.0|             129|          1|
|     140220|Diamondback Women...| Bike & Skate Shop|         42.0|             299|          1|
|      77426|Field & Stream Sp...|Hunting & Shooting|         44.0|             399|          1|
|     101870|Perfect Fitness P...|   As Seen on  TV!|         16.0|              59|          4|
|     131685|Nike Men's CJ Eli...|            Cleats|         17.0|             129|          1|
|     164177|Pelican Sunstream...|           Boating|         47.0|             199|          1|
|      78983|Nike Men's CJ Eli...|            Cleats|         17.0|             129|          1|
|      84894|Diamondback Women...| Bike & Skate Shop|         42.0|             299|          1|
|     170683|Nike Men's CJ Eli...|            Cleats|         17.0|             129|          1|
|      22083|Nike Men's Dri-FI...|     Men's Apparel|         23.0|              50|          3|
|      76014|O'Brien Men's Neo...|           Fishing|         45.0|              49|          1|
|      79165|O'Brien Men's Neo...|           Fishing|         45.0|              49|          5|
|      44574|Nike Men's Dri-FI...|     Men's Apparel|         23.0|              50|          1|
|     102807|Diamondback Women...| Bike & Skate Shop|         42.0|             299|          1|
|     125420|Under Armour Girl...|        Top Brands|         28.0|              39|          1|
+-----------+--------------------+------------------+-------------+----------------+-----------+
only showing top 20 rows

In [34]:
spark.sql("select * from customer where customer_name like 'Rich%'").show()

+-----------+-----------------+-------------+---------------+----------------+
|customer_id|    customer_name|customer_city|customer_street|customer_zipcode|
+-----------+-----------------+-------------+---------------+----------------+
|       6336|   Richard Maddox|       Caguas|             PR|             725|
|       9552|Richard Wilkerson|    Las Vegas|             NV|           89110|
|       1057|   Richard Haynes|      Hayward|             CA|           94544|
|       1989|    Richard Leach|       Caguas|             PR|             725|
|       8387|  Richard Fuentes|      Waipahu|             HI|           96797|
|       2183|    Richard Smith|       Caguas|             PR|             725|
|        267|    Richard Smith|     Columbus|             OH|           43229|
|       2536|   Richard Pineda|  Los Angeles|             CA|           90044|
+-----------+-----------------+-------------+---------------+----------------+

In [46]:
spark.sql("select c.customer_name,c.customer_city, c.customer_street, p.product_name,p.product_price from customer as c inner join product as p on(c.customer_id=p.customer_id) ").show()

+----------------+--------------+---------------+------------------+-------------+
|   customer_name| customer_city|customer_street|      product_name|product_price|
+----------------+--------------+---------------+------------------+-------------+
|       Mary Webb|    San Marcos|             TX|           Boating|         47.0|
|    Denise Smith|     Rego Park|             NY|        Top Brands|         28.0|
|Russell Peterson|       Greeley|             CO|           Boating|         47.0|
|    Jean Donovan|     Las Vegas|             NV|       More Sports|          8.0|
|     Louis Novak|  Murfreesboro|             TN|     Men's Apparel|         23.0|
|      Mary Smith|       Phoenix|             AZ|Hunting & Shooting|         44.0|
|    George Smith|       Holland|             MI|           Fishing|         45.0|
|     Jerry Hobbs|    Rio Rancho|             NM|     Boys' Apparel|         25.0|
|    Mary Leonard|        Caguas|             PR|           Boating|         47.0|
|    Robert Smith|        Caguas|             PR|        Top Brands|         28.0|
|       Mary Soto|San Bernardino|             CA|     Men's Apparel|         23.0|
|   Heather Smith|        Caguas|             PR|       More Sports|          8.0|
|   Mary Reynolds|        Caguas|             PR|           Fishing|         45.0|
|   William Smith|      Highland|             CA|       Accessories|         40.0|
|      Mary Glass|         Salem|             OR|     Men's Apparel|         23.0|
|Madison Sheppard|       Chicago|             IL|Hunting & Shooting|         44.0|
| Philip Williams|        Caguas|             PR|           Boating|         47.0|
|     John Hodges|      Cerritos|             CA|           Boating|         47.0|
|      Mary Smith|        Caguas|             PR|Hunting & Shooting|         44.0|
|  Margaret Grant|      Toa Baja|             PR|           Fishing|         45.0|
+----------------+--------------+---------------+------------------+-------------+
only showing top 20 rows